.footer-background {
    margin-top: 20px;
    height: 90px;
    background-color: #5d449f;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #fff;
    }
}
